.register-form {
    border-radius: 10px;
    background-color: #ffffff;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    background: rgb(5,255,0);
    background: linear-gradient(90deg, rgba(5,255,0,0.08836206896551724) 0%, rgba(36,158,33,1) 0%, rgba(36,35,0,0.29525862068965514) 0%, rgba(23,19,19,1) 0%, rgba(65,68,64,1) 52%);
}

#register-name {
    font-family: "Audiowide", sans-serif;
    font-style: italic;
}
.input-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-main {
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#name {
    height: 40px;
}

#email {
    height: 40px;
}

#password {
    height: 40px;
}

#password-confirmation {
    height: 40px;
}

#btn_register {
    margin-right: 26px;
    background-color: green;
    color: white;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 100px;
    margin-top: 17px;
    justify-content: center;
    height: 37px;
    align-items: center;
    text-align: center;
}
#btn_register:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}