.login-form {
    border-radius: 10px;
    background-color: #ffffff;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    background: rgb(5,255,0);
    background: linear-gradient(90deg, rgba(5,255,0,0.08836206896551724) 0%, rgba(36,158,33,1) 0%, rgba(36,35,0,0.29525862068965514) 0%, rgba(23,19,19,1) 0%, rgba(65,68,64,1) 52%);
}

#login-name {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-style: italic;
}
.input-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-main {
    margin-top: 15px;
    height: 20px;
}

.input-error {
    text-align: center;
    color: red;
}

#btn_login {
    margin-right: 26px;
    background-color: green;
    color: white;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 100px;
    text-align: center;
    margin-top: 17px;
    justify-content: center;
    height: 37px;
    align-items: center;
}

#btn_login:hover {
    background-color: white;
    color: green;
    cursor: pointer;
}